ODOO_URL=https://edu-cross-the-bridge.odoo.com
ODOO_DB=edu-cross-the-bridge
ODOO_LOGIN=your-odoo-login
ODOO_API_KEY=your-odoo-api-key

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
MAIL_FROM="Cross The Bridge <no-reply@yourdomain.com>"
MAIL_TO=info@crossthebridge.co

PORT=8787
