:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #1B2440;
  color: #1D1D1F;
  overflow: hidden;
}

#root {
  height: 100%;
  background: #1B2440;
}

/* Keep native Odoo launcher above UI without overriding its layout */
.o_livechat_button,
.o_chat_button,
.o-livechat-launcher,
.o_livechat_Launcher {
  z-index: 9999 !important;
  pointer-events: auto !important;
}

.o_livechat_button, .o_thread_window {
  z-index: 2147483647 !important;
  pointer-events: auto !important;
}

/* .o_livechat_button,
.o_chat_button,
.o-livechat-launcher,
.o_livechat_Launcher {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: fixed !important;
  right: 24px !important;
  bottom: 24px !important;
  z-index: 9999 !important;
} */
